@using ENOMVG_SOF_2023242.Models;
@model Student

@section head {
    <title>Diák hozzáadás</title>
}

<h1>Diák hozzáadása</h1>
<form action="create" method="post" style="display: flex; flex-direction: column">
    @Html.HiddenFor(s => s.School)

    @Html.LabelFor(s => s.Name)
    @Html.EditorFor(s => s.Name)
    @Html.ValidationMessageFor(s => s.Name)
    <br />

    @Html.LabelFor(s => s.Age)
    @Html.EditorFor(s => s.Age)
    @Html.ValidationMessageFor(s => s.Age)
    <br />

    @Html.LabelFor(s => s.GradesAVG)
    @Html.EditorFor(s => s.GradesAVG)
    @Html.ValidationMessageFor(s => s.GradesAVG)

    @Html.LabelFor(t => t.SchoolId)
    @Html.EditorFor(t => t.SchoolId)
    @Html.ValidationMessageFor(s => s.SchoolId)
    <br />

    <input type="submit" value="Hozzáadás" />

</form>