@using ENOMVG_SOF_2023242.Models;
@model Student

<h1>Diák adatainak frissítése</h1>
    <form action="update" method="post" style="display: flex; flex-direction: column">
        @Html.HiddenFor(s => s.Id)
        @Html.HiddenFor(s => s.School)

        @Html.LabelFor(s => s.Name)
        @Html.EditorFor(s => s.Name)
        @Html.ValidationMessageFor(s => s.Name)
        <br />

        @Html.LabelFor(s => s.Age)
        @Html.EditorFor(s => s.Age)
        @Html.ValidationMessageFor(s => s.Age)
        <br />

        @Html.LabelFor(s => s.GradesAVG)
        @Html.EditorFor(s => s.GradesAVG)
        @Html.ValidationMessageFor(s => s.GradesAVG)
        <br />

        @Html.LabelFor(s => s.SchoolId)
        @Html.EditorFor(s => s.SchoolId)
        @Html.ValidationMessageFor(s => s.SchoolId)
        <br />

        <input type="submit" value="Frissítés" />
</form>
