@using ENOMVG_SOF_2023242.Models;
@model School

@section head {
    <title>Iskola frissítés</title>
}

<h1>Iskola adatainak frissítése</h1>
<form action="update" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column">
    @Html.HiddenFor(t => t.Id)
    @Html.HiddenFor(t => t.Students)
    @Html.HiddenFor(t => t.Teachers)

    @Html.LabelFor(t => t.Name)
    @Html.EditorFor(t => t.Name)
    @Html.ValidationMessageFor(s => s.Name)
    <br />

    @Html.LabelFor(t => t.Age)
    @Html.EditorFor(t => t.Age)
    @Html.ValidationMessageFor(s => s.Age)
    <br />

    @Html.LabelFor(t => t.Type)
    @Html.DropDownListFor(s => s.Type, new SelectList(Enum.GetValues(typeof(stype))))
    @Html.ValidationMessageFor(s => s.Type)
    <br />

    <label>Fotó</label>
    <input type="file" name="imagedata" accept=".png,.jpg,.jpeg,.svg,.gif,.bmp" />
    <input type="hidden" name="imagefilename" value="davidtennant" />
    <br />

    <input type="submit" value="Frissítés" />

</form>